p {
  line-height: 1.6;
  font-size: var(--fs-base);
  color: var(--clr-gray-4);
}
.sub__heading {
  text-transform: uppercase;
  color: var(--clr-shades-1);
  font-size: var(--fs-small);
  font-weight: 500;
}
.main__heading {
  padding: var(--sp-10) 0 var(--sp-30) 0;
}
