:root {
  // colors
  --primary: #e67e22;

  --tint-1: #fdf2e9;
  --tint-2: #fae5d3;
  --tint-3: #f5cba7;
  --tint-4: #f3bf91;
  --tint-5: #eb984e;

  --shade-1: #cf711f;
  --shade-2: #a15818;
  --shade-3: #8a4c14;
  --shade-4: #45260a;
  --shade-5: #2e1907;

  --white: #fff;
  --black: #000;

  // font
  $base-font: 0.625rem;
}

// font-sizes

// padding
$base-padding: 16px;
// margin
$base-margin: 16px;
// border radius
$base-border-radius: 16px;
// colors
$primary-h: 28;
$primary-s: 80%;
$primary-l: 52%;
