/* ****************** */
/**** footer *****/
/* ****************** */
.footer {
  border-top: 1px solid #eee;
  a,
  .copyright {
    color: #888;
  }
  .col__head {
    margin-bottom: 1.2rem;
    font-weight: 600;
  }
  .col__list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .social__media-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}
