@use "sass:math";
@use "breakpoints" as *;

$grid-columns: 12;

$grid-gaps: (
  "0": 0,
  "1": 1rem,
  "2": 2rem,
  "3": 3rem,
  "4": 4rem,
  "5": 5rem,
);

// base classes
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

// Gap Classes
@each $key, $val in $grid-gaps {
  .col-space-#{$key} > * {
    padding-right: $val;
  }
  .col-space-#{$key} {
    margin-right: -$val;
  }
  .row-space-#{$key} > * {
    padding-top: $val;
  }
  .row-space-#{$key} {
    margin-top: -$val;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
}

// col classes
@include xs {
  @for $i from 1 through $grid-columns {
    .grid-xs-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-xs-#{$i} {
      grid-column: span #{$i};
    }
  }
}
@include sm {
  @for $i from 1 through $grid-columns {
    .grid-sm-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-sm-#{$i} {
      grid-column: span #{$i};
    }
  }
}
@include md {
  @for $i from 1 through $grid-columns {
    .grid-md-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-md-#{$i} {
      grid-column: span #{$i};
    }
  }
}
@include lg {
  @for $i from 1 through $grid-columns {
    .grid-lg-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-lg-#{$i} {
      grid-column: span #{$i};
    }
  }
}
@include xl {
  @for $i from 1 through $grid-columns {
    .grid-xl-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-xl-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@include xxl {
  @for $i from 1 through $grid-columns {
    .grid-xxl-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .col-xxl-#{$i} {
      grid-column: span #{$i};
    }
  }
}
