@use "../abstracts/" as *;

/* header */
.hero {
  &__img {
  }
  &__customers {
    img {
      width: 2rem;
      border-radius: 50%;
      margin-right: -10px;
      border: 4px solid hsl($primary-h, $primary-s, 95%);
    }
  }
}
