@use "../abstracts/" as *;

/* Featured in  */
.heading-featured {
  text-transform: uppercase;
  text-align: center;
  padding: 3.2rem 0 2.4rem 0;
  color: #777;
}

.featured__images img {
  height: 1rem;
  filter: brightness(0);
  opacity: 50%;
}

/* How it Works */
.step__img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step__img::after {
  content: "";
  background-color: hsl($primary-h, $primary-s, 95%);
  border-radius: 50%;
  padding: 4rem;
  position: absolute;
  z-index: -1;
}
.step__img::before {
  content: "";
  display: block;
  background-color: hsl($primary-h, $primary-s, 95%);
  border-radius: 50%;
  padding: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step__img img {
  width: 30%;
}

/* Meals */
.meals {
  color: #444;
}
.meals__card {
  max-width: 70%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  justify-self: center;
  transition: transform 0.5s;
  border-radius: 10px;

  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }
}

.meal__tag {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0.3rem 0.6rem;
}
.vegetarian {
  background-color: #51cf66;
}
.vegan {
  background-color: #69db7c;
}
.paleo {
  background-color: #ffd43b;
}

.meal-name {
  font-weight: 600;
}

.diets__types li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recipes__link {
  box-shadow: 0 1px 0 0;
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: none;
  }
}

/* Testimonials */

.customer__img {
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.feedback__quote {
  line-height: 2;
}
.customer__name {
  font-size: 0.8rem;
  color: #666;
}

.gallery div {
  overflow: hidden;
}
.meals-img {
  transition: all 0.3s;
}
.meals-img:hover {
  transform: scale(1.1);
}

// /* Pricing section */
.pricing__card {
  border: 2px solid hsl($primary-h, $primary-s, 95%);
  border-radius: 11px;
  text-align: center;
  &-head {
    .card__name {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: hsl($primary-h, $primary-s, 45%);
    }
    .card__price {
      font-size: 3rem;
      font-weight: 600;
      span {
        font-size: 1.5rem;
      }
    }
    .card__text {
      font-size: 0.8rem;
      text-transform: capitalize;
      color: #777;
    }
  }
  &-features {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & li {
      display: flex;
      align-items: center;
    }
  }
}

.complete-plan {
  background-color: hsl($primary-h, $primary-s, 95%);
  position: relative;
  overflow: hidden;
}
.complete-plan::after {
  content: "BEST VALUE";
  display: block;
  padding: 0.2rem 4rem;
  background-color: #ffd43b;
  font-weight: 700;
  position: absolute;
  top: 8%;
  right: -10%;
  transform: rotate(45deg);
}

.cta {
  overflow: clip;
  &__img {
    min-height: 30vh;
    background-image: linear-gradient(
        to right,
        rgba(235, 152, 78, 0.3),
        rgba(235, 152, 78, 0.3)
      ),
      url(../img/eating.jpg);
    background-size: cover;
  }
  .btn {
    width: 100%;
  }
}
