@use "../base" as *;
@use "../abstracts/" as *;

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.5s;
  font-weight: 500;
}

.btn-primary {
  @extend .btn;
  background-color: var(--primary);
  color: var(--white);
  &:hover,
  &:active {
    background-color: var(--shade-1);
  }
}
.btn-shade {
  @extend .btn;
  background-color: var(--shade-5);
  color: var(--white);
  &:hover,
  &:active {
    background-color: var(--shade-1);
  }
}
.btn-outline-light {
  @extend .btn;
  box-shadow: inset 0 0 0 3px var(--white);
  background-color: var(--white);
  color: var(--black);
  &:hover,
  &:active {
    background-color: transparent;
  }
}
