/* footer */
.footer {
  padding: var(--sp-50) 0;
  border-top: 2px solid var(--clr-tints-1);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--sp-50) var(--sp-30);
}
.footer__col {
  display: flex;
  flex-direction: column;
  gap: var(--sp-30);
}
.footer__logo {
  width: 200px;
}
.social__media-icons {
  display: flex;
  gap: var(--sp-20);
}
.col__heading {
  font-weight: 500;
  color: var(--clr-gray-5);
}
.col__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-10);
}
.col__link,
.col__item {
  font-size: var(--fs-small);
  color: var(--clr-gray-1);
}
.col__link:hover {
  color: var(--clr-gray-5);
}
.footer__col:nth-child(4) {
  grid-column: span 2;
}
