:root {
  /* colors */
  --clr-primary: #e67e22;
  --clr-tints-1: #fdf2e9;
  --clr-tints-2: #fae5d3;
  --clr-tints-3: #eb984e;
  --clr-shades-1: #cf711f;
  --clr-shades-2: #45260a;
  --clr-gray-1: #888;
  --clr-gray-2: #767676;
  --clr-gray-3: #6f6f6f;
  --clr-gray-4: #555;
  --clr-gray-5: #333;
  --clr-black: #000;
  --clr-white: #fff;
  /* fonts */
  /* font sizes */
  --fs-x-small: 0.625rem; /* 10px */
  --fs-small: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-100: 1.25rem; /* 20px */
  --fs-200: 1.5rem; /* 24px */
  --fs-300: 2rem; /* 32px */
  --fs-400: 2.5rem; /* 40px */
  --fs-500: 3rem; /* 48px */
  --fs-600: 3.5rem; /* 56px */
  --fs-700: 4rem; /* 64px */
  --fs-800: 4.5rem; /* 72px */
  --fs-900: 5rem; /* 80px */

  /* space */
  --sp-0: 0;
  --sp-10: 0.625rem; /* 10px */
  --sp-15: 0.9375rem; /* 15px */
  --sp-20: 1.25rem; /* 20px */
  --sp-25: 1.5625rem; /* 25px */
  --sp-30: 1.875rem; /* 30px */
  --sp-35: 2.1875rem; /* 35px */
  --sp-40: 2.5rem; /* 40px */
  --sp-45: 2.8125rem; /* 45px */
  --sp-50: 3.125rem; /* 50px */
  --sp-55: 3.4375rem; /* 55px */
  --sp-60: 3.75rem; /* 60px */
  --sp-65: 4.0625rem; /* 65px */
  --sp-70: 4.375rem; /* 70px */
  --sp-75: 4.6875rem; /* 75px */
  --sp-80: 5rem; /* 80px */
  --sp-85: 5.3125rem; /* 85px */
  --sp-90: 5.625rem; /* 90px */
  --sp-95: 5.9375rem; /* 95px */
  --sp-100: 6.25rem; /* 100px */
  /* border radius */
  --br-10: 0.625rem; /* 10px */
  --br-15: 0.9375rem; /* 15px */
  --br-20: 1.25rem; /* 20px */
  --br-25: 1.5625rem; /* 25px */
  --br-30: 1.875rem; /* 30px */
  --br-circle: 50%;
  /* breakpoints */
  --small: 576px; /* mobile */
  --medium: 768px; /* tablet */
  --large: 992px; /* desktop */
  --x-large: 1200px; /* desktop */
  --xx-large: 1400px; /* desktop */
  /* section spacing */
  --sec-sp-50: var(--sp-50);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: var(--fs-base);
  color: var(--clr-gray-5);
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
input,
textarea,
select {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: 3px solid var(--clr-tints-1);
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
p {
  line-height: 1.6;
  font-size: var(--fs-base);
  color: var(--clr-gray-4);
}
body {
  font-family: 'Rubik', sans-serif;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.3rem;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
}

.sub__heading {
  text-transform: uppercase;
  color: var(--clr-shades-1);
  font-size: var(--fs-small);
  font-weight: 500;
}
.main__heading {
  padding: var(--sp-10) 0 var(--sp-30) 0;
}
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: var(--sp-30);
  font-size: var(--fs-base);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
}
.btn__primary {
  background-color: var(--clr-primary);
  color: var(--clr-white) !important;
}
.btn__shade {
  background-color: var(--clr-shades-2);
  color: var(--clr-white) !important;
}
.btn__primary:hover {
  background-color: var(--clr-shades-1);
}
.btn__shade:hover {
  background-color: var(--clr-white);
  color: var(--clr-shades-2) !important;
}
.btn__outline {
  background-color: var(--clr-white);
  color: var(--clr-shades-2) !important;
}
.btn__outline:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--clr-white);
}

/* Navbar */
.navbar {
  background-color: var(--clr-tints-1);
  padding: var(--sp-20) 0;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  height: 1.2rem;
}
.nav__toggler {
  border: none;
  background: transparent;
  cursor: pointer;
}
.nav__toggler-close {
  display: none;
}
.nav__list {
  display: none;
}
.activated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-30);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  opacity: 0.6;
  z-index: 100;
}
.nav__link {
  margin: 0 var(--sp-10);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-gray-5);
}

/* Header */
.header {
  background-color: var(--clr-tints-1);
}
.hero {
  padding: var(--sp-50) 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-20);
}

.hero__heading {
  font-size: var(--fs-300);
  padding-bottom: var(--sp-10);
}
.hero__paragraph {
  padding: var(--sp-10) var(--sp-40) var(--sp-40) 0;
}
.buttons__group {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.hero__delivered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-0);
  margin: var(--sp-30) 0;
}
.hero__customers {
  display: flex;
}
.hero__customers-img {
  height: 2.5rem;
  border-radius: var(--br-circle);
  border: 4px solid var(--clr-tints-1);
}
.hero__customers-img:not(:last-child) {
  margin-right: -10px;
}
.delivered__statistics {
  font-size: var(--fs-small);
  font-weight: 700;
}
.delivered__statistics-numbers {
  color: var(--clr-shades-1);
}
.img__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__box-img {
  width: 70%;
}

/* Main */
.featured {
  padding: var(--sp-50) 0;
  text-transform: capitalize;
  text-align: center;
}
.featured__heading {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: var(--fs-small);
  color: var(--clr-gray-1);
}
.featured__vendors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--sp-25);
  gap: var(--sp-25);
}
.featured__vendors-img {
  width: 10vw;
  filter: brightness(0);
  opacity: 50%;
}

/* How It Work */
.z-pattern {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: var(--sp-50) 0;
}
.step__img-box {
  display: flex;
  justify-content: center;
  position: relative;
}
.step__img-box:not(:first-child) {
  margin-top: var(--sp-50);
}
.step__img {
  width: 30%;
}
.step__img-box::after {
  content: '';
  position: absolute;
  padding: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: var(--br-circle);
  background-color: var(--clr-tints-2);
}
.step__img-box::before {
  content: '';
  position: absolute;
  padding: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: var(--br-circle);
  background-color: var(--clr-tints-1);
}
.step__text {
  text-align: center;
  padding: var(--sp-30);
}
.step__number {
  font-size: var(--fs-700);
  font-weight: 600;
  opacity: 0.2;
}
.step__description {
  padding-top: var(--sp-20);
}

/* Meals */
.meals {
  padding: var(--sp-50) 0;
  text-align: center;
}
.card__group {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--sp-40);
}
.card {
  width: 70%;
  justify-self: center;
  border-radius: var(--br-10);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--sp-20) 0;
}
.card__tag {
  font-size: var(--fs-x-small);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: var(--br-10);
  padding: 0.2em 0.5em;
  text-align: start;
  color: var(--clr-black);
}
.card__tag-vegetarian {
  background-color: rgb(68, 182, 68);
}
.card__tag-vegan {
  background-color: rgb(83, 224, 83);
}
.card__tag-paleo {
  background-color: yellow;
}
.card__name {
  font-size: var(--fs-100);
  font-weight: 500;
}
.card__description {
  display: flex;
  flex-direction: column;
  padding: var(--sp-30) 0;
  gap: var(--sp-15);
}
.card__item {
  display: flex;
  align-items: center;
  gap: var(--sp-20);
}
.card__item {
  display: flex;
  align-items: center;
  gap: var(--sp-20);
}
.card__item-icon {
  color: var(--clr-primary);
}

.diet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diet__heading {
  font-size: var(--fs-100);
  font-weight: 500;
  color: var(--clr-black);
}
.diet__types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sp-10);
  padding: var(--sp-30) 0;
}
.diets__type-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--sp-20);
}
.diets__type-icon {
  color: var(--clr-primary);
}
.diets__link {
  color: var(--clr-primary);
  box-shadow: 0 1px 0px var(--clr-primary);
  transition: box-shadow 0.3s;
}
.diets__link:hover {
  box-shadow: none;
}

/* feedback */
.testimonials {
  background-color: var(--clr-tints-1);
  padding: var(--sp-50) 0;
}

.feedback {
  display: grid;
  gap: var(--sp-50);
}
.feedback__customer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.customer__img {
  width: 3rem;
  border-radius: var(--br-circle);
}
.customer__name {
  font-weight: 500;
  color: var(--clr-gray-5);
}

.gallery {
  gap: var(--sp-50);

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 5px;
}
.gallery__item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item-8 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item {
  overflow: hidden;
}
.gallery-img {
  transition: transform 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
}

/* pricing */
.pricing {
  padding: var(--sp-50) 0;
}
.pricing__card-group {
  display: flex;
  flex-direction: column;
  gap: var(--sp-50);
  padding: var(--sp-50) 0;
}
.pricing__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--clr-tints-1);
  border-radius: var(--br-20);
  padding: var(--sp-40) var(--sp-30);
}
.pricing__card-complete {
  background-color: var(--clr-tints-1);
  position: relative;
  overflow: hidden;
}
.pricing__card-complete::after {
  content: 'BEST VALUE';
  background-color: #ffd43b;
  font-weight: 600;
  font-size: var(--fs-x-small);
  padding: 2px var(--sp-30);
  position: absolute;
  top: 25px;
  right: -30px;
  transform: rotate(45deg);
}
.pricing-card-name {
  text-transform: uppercase;
  color: var(--clr-shades-1);
  font-weight: 500;
}
.pricing-card-price {
  font-size: var(--fs-500);
  font-weight: 500;
  color: var(--clr-gray-5);
}
.pricing-card-text {
  font-size: var(--fs-small);
  text-transform: capitalize;
}
.pricing__card-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--sp-30) 0;
  gap: var(--sp-20);
}
.features {
  padding-top: var(--sp-30);
}
.features__item {
  display: flex;
  align-items: center;
  gap: var(--sp-20);
}
.features__item-icon {
  color: var(--clr-primary);
}
.price__description {
  font-size: var(--fs-small);
  text-align: center;
  color: var(--clr-gray-1);
}
.features__wrapper {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  gap: var(--sp-30);
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.feature__icon {
  color: var(--clr-primary);
  fill: var(--clr-primary);
  background-color: var(--clr-tints-1);
  border-radius: var(--br-circle);
  padding: var(--sp-10);
}
.feature__heading {
  font-weight: 500;
  color: var(--clr-black);
}

/* CTA */
.cta {
  padding: var(--sp-50) 0;
}
.cta__wrapper {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: var(--br-25);
  overflow: hidden;
}
.cta__img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.2),
      rgba(230, 125, 34, 0.2)
    ),
    url('../img/eating.jpg');
  background-size: cover;
}
.cta__form {
  background-color: var(--clr-tints-3);
  padding: var(--sp-30);
  display: flex;
  flex-direction: column;
  gap: var(--sp-20);
}
.cta__heading {
  color: var(--clr-shades-2);
}
.cta__text {
  font-size: var(--fs-small);
  color: var(--clr-shades-2);
  padding-top: var(--sp-15);
}
/* footer */
.footer {
  padding: var(--sp-50) 0;
  border-top: 2px solid var(--clr-tints-1);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--sp-50) var(--sp-30);
}
.footer__col {
  display: flex;
  flex-direction: column;
  gap: var(--sp-30);
}
.footer__logo {
  width: 200px;
}
.social__media-icons {
  display: flex;
  gap: var(--sp-20);
}
.col__heading {
  font-weight: 500;
  color: var(--clr-gray-5);
}
.col__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-10);
}
.col__link,
.col__item {
  font-size: var(--fs-small);
  color: var(--clr-gray-1);
}
.col__link:hover {
  color: var(--clr-gray-5);
}
.footer__col:nth-child(4) {
  grid-column: span 2;
}
