*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --clr-primary: #e67e22;
  --clr-tints-1: #fdf2e9;
  --clr-tints-2: #fae5d3;
  --clr-tints-3: #eb984e;
  --clr-shades-1: #cf711f;
  --clr-shades-2: #45260a;
  --clr-gray-1: #888;
  --clr-gray-2: #767676;
  --clr-gray-3: #6f6f6f;
  --clr-gray-4: #555;
  --clr-gray-5: #333;
  --clr-black: #000;
  --clr-white: #fff;
}
