*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

:root {
  --clr-primary: #e67e22;
  --clr-tints-1: #fdf2e9;
  --clr-tints-2: #fae5d3;
  --clr-tints-3: #eb984e;
  --clr-shades-1: #cf711f;
  --clr-shades-2: #45260a;
}
